doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title taskrunnerサンプル
    link(rel="stylesheet" href="css/style.css")
    script(src="js/bundle.js")
  body
    h1 npm-scriptsサンプル
    p
      | pug -> htmlに変換
      br
      | scss -> cssに変換
      br
      | ES6 -> ES5に変換
    button クリックでalertを表示